<script 
src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
var __plaidEnv = 'development';
var __plaidProducts = [
  'auth',
  'transactions'
];
var __plaidPublicKey = '<%= Application.get_env(:plaid, :public_key) %>';
</script>

<h1>Step 1. Link account.</h1>
<input class="form-control" type="text" id="username">
<button class="btn btn-primary disabled" id="open-link-dialog">Link account.</button>
<h1>Step 2. View stuff for account.</h1>
